.section {
  position: relative;
  background-color: $light;
  overflow: hidden;

  &--hero {
    height: 100vh;
    background-image: url(../img/hero-final.jpg);
    background-repeat: no-repeat;
    background-position: 48% 50%;
    background-size: cover;
    text-align: center;

    @include media-breakpoint-down(md) {
      height: 100vh;
      // background-position: 48% 50%;
    }

    .container {
      @include vertical-align();
      top: 20%;
      // @include respond-to(mega-desktop) {
      //   top: 20%;
      // }
      @include media-breakpoint-down(md) {
        top: 20%;
      }
      @include respond-to(mobile-landscape-x) {
        top: 20%;
      }
      @include respond-to(mobile-landscape-plus) {
        top: 20%;
      }
      @include respond-to(mobile-landscape) {
        top: 19%;
      }

      h1 {
        margin-left: -42px;

        @include media-breakpoint-down(md) {
          margin-left: 0;
        }

      }

      h4 {
        margin-top: 10px;

        @include respond-to(mobile-landscape-x) {
          display: none;
        }

        @include respond-to(mobile-landscape-plus) {
          display: none;
        }

        @include respond-to(mobile-landscape) {
          display: none;
        }

        @include media-breakpoint-down(md) {
          margin-top: 0;
          font-size: 16px;
        }

      }
    }

  }

  &--update {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background-color: rgba(#fff,0.75);
    transform: translateY(0%);
    opacity: 1;
    transition: all 250ms ease;
    .container {
      text-align: center;
      max-width: 800px;
      h4 {
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 1em;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      transform: scale(1);
      transition: all 250ms ease;
      @include media-breakpoint-down(md) {
        top: 10px;
        right: 10px;
      }
      svg {
        position: relative;
        width: 30px;
        height: 30px;
        @include media-breakpoint-down(md) {
          width: 20px;
          height: 20px;
        }
      }
      &:hover {
        transform: scale(1.05);
      }
    }

    &.is-dismissed {
      opacity: 0;
      transform: translateY(100%);
    }

  }

  &--body {
    padding: 150px 0 0 0;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding: 100px 0 0 0;
    }
    .container {
      max-width: 700px;
    }
  }

  &--wedding {
    padding: 150px 0 0 0;
    background-image: url(../img/pampas-top-left.png), url(../img/pampas-top-right.png);
    background-repeat: no-repeat;
    background-position: -4% -4%, 104% -4%;
    background-size: 428px 428px, 428px 428px;

    @media all and (min-width: 1084px) and (max-width: 1350px) {
      background-size: 300px 300px, 300px 300px;
    }

    @include media-breakpoint-down(lg) {
      background-size: 200px 200px, 200px 200px;
    }

    @include media-breakpoint-down(md) {
      background-position: -35px -30px, calc(100% + 35px) -30px;
      background-size: 150px 150px, 150px 150px;
      padding: 150px 0 50px 0;
    }
  }

  &--travel {
    background-image: url(../img/pampas-mid-left.png), url(../img/pampas-mid-right.png);
    background-repeat: no-repeat;
    background-position: -6% 0%, 106% 0;
    background-size: 336px 500px, 336px 500px;
    padding-bottom: 150px;
    @media all and (min-width: 1084px) and (max-width: 1350px) {
      background-position: -65px 0, calc(100% + 65px) 0;
      background-size: 252px 375px, 252px 375px;
    }
    @include media-breakpoint-down(lg) {
      background-position: -50px 0, calc(100% + 50px) 0;
      background-size: 168px 250px, 168px 250px;
      padding-bottom: 100px;
    }
    @include media-breakpoint-down(md) {
      background-position: -50px 20px, calc(100% + 50px) 20px;
      background-size: 118px 175px, 118px 175px;
    }
    .card__inner--clickable {
      p:last-child {
        margin-bottom: .5em;
      }
    }
  }

  &--registry {
    padding-top: 0;
    padding-bottom: 150px;
    background-image: url(../img/pampas-bottom-left.png), url(../img/pampas-bottom-right.png);
    background-repeat: no-repeat;
    background-position: -4% 104%, 104% 104%;
    background-size: 428px 428px, 428px 428px;

    @media all and (min-width: 1084px) and (max-width: 1350px) {
      background-size: 300px 300px, 300px 300px;
    }

    @include media-breakpoint-down(lg) {
      background-position: -5% 105%, 105% 105%;
      background-size: 200px 200px, 200px 200px;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 125px;
      background-size: 150px 150px, 150px 150px;
      background-position: -40px calc(100% + 50px), calc(100% + 40px) calc(100% + 50px);
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

}

.bg-pom {
  display: none;
  img {
    position: absolute;
    top: -125px;
    left: -365px;
    width: 400px;
    // height: 290px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.bg-pom-flipped {
  display: none;
  img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    top: -125px;
    right: -365px;
    width: 400px;
    // height: 290px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.card {
  position: relative;
  text-align: center;
  border: 1px solid $gold;
  margin-top: 1em;
  padding: 3em 2em;
  background-color: $white;

  &__inner {
    position: relative;

    a {
      text-decoration: none;
    }

    &--clickable {
      margin: 2em 0;

      h4 {
        // color: $black;
        margin-bottom: 32px;
        @include media-breakpoint-down(md) {
          margin-bottom: 20px;
        }
      }

      p {
        margin: 0 0;
        &.is-black {
          color: $black;
        }
      }
      a {
        position: relative;
      }
      .link-phone {
        position: relative;
        margin-top: 1em;
      }

    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  &--event {

  }

  &__list {
    p {
      //font-style: italic;
    }
    .more-to-come {
      //color: $gold;
      margin: 0 0 ;
    }
  }

}

.card-full {
  margin-top: 3.5em;

  &:first-child {
    margin-top: 0;
  }

  .bottom-image {
    position: relative;
    width: 100%;
    margin-top: 1.5em;
  }
}

.breaker {
  position: relative;
  margin: 35px auto;
  width: 100px;
  height: 0;
  border-top: 1px solid $gold;
  background-color: transparent;
}

footer {
  text-align: center;
  background-color: $light;
  padding: 10px 0;
  line-height: 20px;
}
