@font-face {
  font-family: 'England';
  src: local('England'), url('fonts/England.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html,body {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  font-weight: 300;
  font-size: 16px;
  @include media-breakpoint-down(md) {
    font-size: 15px;
  }
}

// Custom highlight state
::selection {
  background: $gold; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $gold; /* Gecko Browsers */
  color: #fff;
}

h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-style: normal;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'England';
    font-size: 15vw;
    line-height: .9;
    font-weight: 300;
    color: $gold;
    @include media-breakpoint-down(lg) {
      font-size: 19vw;
    }
    @include media-breakpoint-down(md) {
      font-size: 26vw;
      line-height: 1;
    }
}
h2{
    font-family: 'England';
    font-weight: 300;
    font-size: 88px;
    line-height: 1.1;
    color: $gold;
    padding: 0 0;
    position: relative;
    margin: 0 0 .85em 0;
    max-width: 600px;
    @include media-breakpoint-down(lg) {
      font-size: 68px;
    }
    @include media-breakpoint-down(md) {
      max-width: none;
      font-size: 56px;
    }
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin: 0 0 .5em 0;
    @include media-breakpoint-down(md) {
      font-size: 26px;
    }
}
h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 0;
    color: $gold;
    margin-bottom: 1em;

    @include media-breakpoint-down(md) {
      font-size: 22px;
      font-weight: 300;
    }
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;

}
label {
    font-size: 12px;
}
.bold{
    font-weight: 700;
}

a, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 300;
    cursor: pointer;
}

p {
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal;
  margin: .5em 0;
}

.bold {
    font-size: 16px;
}
.caps{
    text-transform: uppercase;
}
