$breakpoint-xs: 550px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;

$XS: 'min-width:'+ $breakpoint-xs;
$S: 'min-width:'+ $breakpoint-s;
$M: 'min-width:'+ $breakpoint-m;
$L: 'min-width:'+ $breakpoint-l;

$white: #ffffff;
$gold: #ddbea9;
$light: #ffffff;
$black: #333333;
